/*
 * Estilos de tu proyecto
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
h1, h2, h3 {
    text-transform: uppercase;
}

/*Estilos para el header*/

nav {
    width: 100%;
    height: 112px;
    display: block;
    position: fixed;
    margin: 0;
    padding: 15px;
    text-align: center;
    z-index: 10;
}
nav-retractil {
    background-color: white;
    background-position: 120px bottom;
    color: black;
}
.logo a img {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 45px;
    margin: 25px;
    float: left;
    left: 2%;
}
.menu li{
    display: block;
    position: relative;
    padding: 10px;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    list-style: none;
    font-size: 1.3em;
    left: 53%;
}
.menu a {
    text-decoration: none;
    color: white;
}
.menu a:hover {
    color: #FF00BF;
}
/*Estilos para section-full layer*/

.full-layer {
    background-color: #2b1e66;
    background-image: url("../assets/images/homepage-hero.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
    padding-top: 112px;
    height: 650px;
}
/*Estilos para form*/
.form {
    background: white;
    display: block;
    float: right;
    width: 520px;
    height: 380px;
    padding: 40px
}
h1, h2 {
    color: #352384;
    font-size: 2.5rem;
    line-height: 1.1;  
}
.form-head p {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: .5rem;
    color: #352384;
    font-size: .850rem;
    font-weight: 300;
}
.phone label {
    color: #bfc7d9;
    padding: .75rem 0;
    display: inline-block;
    margin-top: 25px;
    padding: 0 13px;
    transform: translate3d(-0.75em,.3em,0) scale(1);
}
.phone input {
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: #352384;
    margin-top: 0;
    margin-bottom: 0px;
    display: block;
    width: 100%;
}
.form-btn #drive {
    margin: 10px 0;
    margin-right: 25px;
    padding: 15px 20px;
    border-radius: 6px;
    background-color: #ff00bf;
    color: white;
    font-weight: 500;
    border: 0;
}
.form-btn #ride {
    margin: 10px 0;
    margin-right: 10px;
    padding: 15px 0;
    background-color: white;
    color: #728099;
    font-weight: 400;
    border: 0;
    text-decoration: underline;
}
.text-below p {
    margin: 5px;
    color: #728099;
    font-weight: 400;
    font-size: 11px;
    text-transform: lowercase;
}
.text-below a {
    margin: 5px;
    color: #ff00bf;
    font-weight: 400;
    font-size: 11px;
    text-transform: lowercase;
}

/*Clases Personalizada*/






