/*
 * Estilos de tu proyecto
 */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Clases Reutilizables*/

nav {
    outline: 1px solid black;
    display: inline-block;
    position: fixed;
    margin-top: -20px;
    width: 100%;
}

.full-layer {
    background-image: url(assets/image/hero.gif)
}


/*Clases Personalizada*/

.youtube-player {
    width: 807px;
    height: 503px;
}

.logo a img {
    width: 50px;
    float: left;
}

.menu ul {
    list-style: none;
}

.menu li {
    text-decoration: none;
    float: right;
}